In [1]:
import findspark
findspark.init('/usr/local/spark/')

In [9]:
import findspark
from pyspark.sql import SparkSession

In [3]:
def initialize_Spark():

    spark = SparkSession.builder \
        .master("local[*]") \
        .appName("Bukalapak ETL Job") \
        .getOrCreate()

    return spark

In [16]:
from pyspark.sql.types import *

In [11]:
def loadData(spark):
    schema = StructType([
        StructField("index", IntegerType(), True),
        StructField("city", StringType(), True),
        StructField("price", DoubleType(), False),
        StructField("rating", DoubleType(), True),
        StructField("Store", StringType(), True),
        StructField("title", StringType(), True),
        StructField("ulasan", StringType(), True)
    ])

    df = spark \
        .read \
        .format("csv") \
        .schema(schema)         \
        .option("header", "true") \
        .load("bukalapak_500pages.csv")

    print("Data loaded into PySpark", "\n")

    return df

In [12]:
spark = initialize_Spark()

In [13]:
#read data
data = loadDataWithoutSchmema(spark)

In [14]:
data.show()

+--------------------+---------------+----------+------+-----+-----+------+
|               index|           city|     price|rating|store|title|ulasan|
+--------------------+---------------+----------+------+-----+-----+------+
|                   0|Jakarta Selatan| 7.499.000|   4.9|    "| null|  null|
|        Kedai Gadget|           null|      null|  null| null| null|  null|
|,Samsung Galaxy N...|           null|      null|  null| null| null|  null|
|                   1|      Sukoharjo|26.500.000|     0|    "| null|  null|
|   PEYOK Social Club|           null|      null|  null| null| null|  null|
|,iPhone 11 Pro & ...|           null|      null|  null| null| null|  null|
|                   2|      Indramayu| 2.050.000|   5.0|    "| null|  null|
|    muhammad khaerul|           null|      null|  null| null| null|  null|
|,SONY XZ GLOBAL N...|           null|      null|  null| null| null|  null|
|                   3|      Indramayu| 3.200.000|   2.0|    "| null|  null|
|    muhammad khaerul|           null|      null|  null| null| null|  null|
|,SONY XZS GLOBAL ...|           null|      null|  null| null| null|  null|
|                   4|   Kab. Cirebon| 1.616.000|   4.6|    "| null|  null|
|COMPLETE SELULAR ...|           null|      null|  null| null| null|  null|
|,Samsung Galaxy A...|           null|      null|  null| null| null|  null|
|                   5|   Lubuklinggau| 1.125.000|     0|    "| null|  null|
|         erickhilz86|           null|      null|  null| null| null|  null|
|,realme c1 ram 2g...|           null|      null|  null| null| null|  null|
|                   6|   Kab. Cirebon| 3.125.000|   4.6|    "| null|  null|
|COMPLETE SELULAR ...|           null|      null|  null| null| null|  null|
+--------------------+---------------+----------+------+-----+-----+------+
only showing top 20 rows